QWidget {
    background-color: mediumaquamarine;
}

QPushButton{
    background-color: darkslateblue;
    color: whitesmoke;
    font-size: 20px;
    font-weight: bold;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

QLabel{
    color:darkgreen;
    font-size: 20px;
    font-weight: bold;
}

QLineEdit{
    font-size: 18px;
    font-weight: bold;
}